<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/nav.ejs") %>
            <h1>Animal Index</h1>

            <% for (let i=0; i < animals.length; ++i) { %>
                <div>
                    <a href="/animals/<%= animals[i]._id %>">
                        <%= animals[i].species %>
                    </a>
                    <p>click species to see more</p>
                    <form action="/animals/<%= animals[i]._id%>/?_method=DELETE" method="post">
                        <input type="submit" value="Remove Animal">
                    </form>
                </div>
                <% } %>
    </body>

</html>